<!DOCTYPE html>
<html lang="en-us">

{% include head.html %} {% include google_analytics.html %}

<body class="theme-base-08">

  {% include sidebar.html %}

  <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
  <div class="wrap">
    <div class="masthead">
	<contact>
	<a id="b" href="http://github.com/internaught/"><i class="fa fa-github"></i></a>
        <a id="b" href="http://twitter.com/ScottaBeTrue/"><i class="fa fa-twitter"></i></a>
	</contact>
      <div class="container">
        <h3 class="masthead-title">
            <a href="https://internaught.io" title="Home" style="position: absolute; left: 3.4em;">internaught.io</a>
            <small style="position: absolute; left: 50%; margin-left: -50px; font-size: 1.2rem;">{{ site.tagline }}</small>
          </h3>
      </div>
    </div>

    <div class="container content">
      {{ content }}
    </div>
  </div>

  <label for="sidebar-checkbox" class="sidebar-toggle"></label>

  <script>
    (function(document) {
        var toggle = document.querySelector('.sidebar-toggle');
        var sidebar = document.querySelector('#sidebar');
        var checkbox = document.querySelector('#sidebar-checkbox');

        document.addEventListener('click', function(e) {
          var target = e.target;

          if(!checkbox.checked ||
             sidebar.contains(target) ||
             (target === checkbox || target === toggle)) return;

          checkbox.checked = false;
        }, false);
      })(document);
  </script>
</body>

</html>
